@import 'Mixins.scss';

$bodyBgColor : red;
$AppFont : Arial, Helvetica, sans-serif;
$AppFontSize : 10px;

html {
    font-size: $AppFontSize;
}

.root {
    background-color: $bodyBgColor;
    font-family: $AppFont;
    color: blue;
}