@import 'Mixins.scss';

$AppBgColor : rgb(196, 196, 255);
$bodyBgColor : red;
$AppFont : Arial, Helvetica, sans-serif;
$AppFontSize : 10px;

html {
    font-size: $AppFontSize;
}

.root {
    background-color: $AppBgColor;
    font-family: $AppFont;
    color: black;
}

.body {
    @include flex(column, center, center);
    margin-top : 10px;
    background-color: $bodyBgColor;
    @include marginAndPadding(0, 5px);
}

.text {
    font-size: 3rem;
}